{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
<div style="padding: 10px;">
    <h6>Change your password</h6>
</div>
<form action="/change_password" method="post" style="padding-top: 5px; padding-left: 5px;">
    <div class="mb-3">
        <input class="form-control w-auto" id="password" name="old_password" placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control w-auto" id="confirm_password" name="confirm_password" placeholder="Confirm Password" type="password">
    </div>
    <div class="mb-3">
        <input class="btn btn-danger" type="submit" value="Submit">
    </div>
</form>
<form method="get" action="/">
    <div class="mb-3" style="padding-left: 5px;">
        <button class="btn btn-secondary" type="submit">Home</button>
    </div>
</form>
{% endblock %}