{% extends "layout.html" %}

{% block title %}
    Stock
{% endblock %}

{% block body %}
    <div class="page-title">Current Stock x Item</div>
    <table class="table" style="text-align: center; margin-bottom: 6px;">
        <thead class="table-light">
            <tr>
                <th style="width: 6%;">Category</th>
                <th style="width: 8%;">Item</th>
                <th style="width: 30%;">Description</th>
                <th style="width: 8%;">Total</th>
                <th style="width: 8%;">Approved</th>
                <th style="width: 8%;">QC</th>
                <th style="width: 8%;">Rejected</th>
                <th style="width: 8%;">On Sale</th>
                <th style="width: 8%;">Incoming</th>
                <th style="width: 8%;">Available</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock["category_id"] }}</td>
                <td>{{ stock["item_id"] }}</td>
                <td>{{ stock["item_description"] }}</td>
                <td>{{ stock["stock_total"] }}</td>
                <td>{{ stock["stock_approved"] }}</td>
                <td>{{ stock["stock_in_qc"] }}</td>
                <td>{{ stock["stock_rejected"] }}</td>
                <td>{{ stock["stock_onsale"] }}</td>
                <td>{{ stock["stock_incoming"] }}</td>
                <td>{{ stock["stock_available"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="padding-left: 10px; margin-top: 0px">
        <form style="display: inline-block; padding-right: 5px;" method="get" action="/">
            <button type="submit">+ Adjustment</button>
            <!-- Add class="btn btn-info btn-sm"  when route is fully implemented-->
        </form>
        <form style="display: inline-block; padding-right: 5px;" method="get" action="/">
            <button type="submit">- Adjustment</button>
            <!-- Add class="btn btn-info btn-sm"  when route is fully implemented-->
        </form>
        <form style="display: inline-block; padding-right: 5px;" method="get" action="/">
            <button class="btn btn-secondary btn-sm" type="submit">Home</button>
        </form>
    </div>
{% endblock %}