{% extends "layout.html" %}

{% block title %}
    Customers
{% endblock %}

{% block body %}
    <h2 style="text-align: center">Customers</h2>
    <h4>{{ message }}</h4>
    <table class="table" style="text-align: center">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Tax ID</th>
                <th>Street</th>
                <th>City</th>
                <th>Country</th>
                <th>Payment terms</th>
                <th>Credit Line</th>
                <th>Available Credit</th>
                <th>Created by</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer["id"] }}</td>
                <td>{{ customer["company_name"] }}</td>
                <td>{{ customer["tax_id"] }}</td>
                <td>{{ customer["address_street"] }}</td>
                <td>{{ customer["address_city"] }}</td>
                <td>{{ customer["address_country"] }}</td>
                <td>{{ customer["payment_condition"] }}</td>
                <td>{{ customer["credit_line"] }}</td>
                <td>{{ customer["available_credit"] }}</td>
                <td>{{ customer["created_by"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/create_customer">
        <button type="submit">New Customer</button>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
{% endblock %}