{% extends "layout.html" %}

{% block title %}
    Edit Quote
{% endblock %}

{% block body %}

    <div id="title" class="h2 text-center">Edit Quote</div>
    <form action="/edit_quote" method="post" onsubmit="gatherData()">
        <div>
            <label style="width: 110px;" for="creation_date">Creation Date:</label>
            <input id="creation_date" type="date" style="width: 110px;" value="{{ header[0]['date'] }}" disabled>
        </div>
        <div>
            <label style="width: 110px;" for="quote_id">Quote No:</label>
            <input type="text" name="quote_num" id="quote_num" placeholder="Quote No." style="width: 110px;" value="{{ header[0]['quote_num'] }}" readonly>
        </div>
        <div class="flex-container" style="margin-bottom: 5px;">
            <label style="width: 110px;" for="customer_id">Customer ID:</label>
            <input type="text" id="customer_id" name="customer_id" placeholder="Customer No." style="width: 110px;" value="{{ header[0]['customer_id'] }}" readonly>
            <label style="width: 120px;" for="company_name">Company Name:</label>
            <input style="width: 200px;" type="text" id="company_name" name="company_name" placeholder="Company Name" value="{{ header[0]['company_name'] }}" readonly>
        </div>
        <!-- This one below is the div of the table-->
        <div>
            <table class="table" style="table-layout: fixed; width: 100%; margin-bottom: 5px;">
                <thead class="table-primary text-center" style="width: 100%">
                    <tr style="width: 100%">
                        <td style="width: 3%">Line</td>
                        <td style="width: 7%">Item</td>
                        <td style="width: 36%">Description</td>
                        <td style="width: 5%">Q</td>
                        <td style="width: 7%">List Price</td>
                        <td style="width: 6%">Discount</td>
                        <td style="width: 7%">Net Price</td>
                        <td style="width: 9%">Total</td>
                        <td style="width: 7%">Lead Time</td>
                        <td style="width: 7%">Status</td>
                        <td style="min-width: 6%"></td>
                    </tr>
                    <tr id="template_row" hidden>
                        <td style="text-align: right; padding: 0.5px; margin: 1px"><input name="line[]" class="line" style="width: 100%; text-align: center" type="text"></td>
                        <td id="item_" style="padding: 0.5px; margin: 1px"><input name="item[]" class="item" oninput="getItem('item_01')" style="width: 100%;" type="text"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="description[]" class="description" style="width: 100%;" type="text" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="quantity[]" class="quantity" onchange="calculateTotal('line_01')" style="width: 100%;" type="text" value="0"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="list_price[]" class="list_price" onchange="calculateNetPriceAndTotal('line_01')" style="width: 100%;" type="text" value="0"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="discount[]" class="discount" onchange="calculateNetPriceAndTotal('line_01')" style="width: 100%;" type="text" value="0"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="net_price[]" class="net_price" style="width: 100%;" type="text" disabled value="0"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="total[]" class="total" style="width: 100%;" type="text" disabled value="0"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="lead_time[]" class="lead_time" style="width: 100%;" type="text"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="status[]" class="status" style="width: 100%;" type="text" value="PENDING" disabled></td>
                        <td onclick="removeLine('line_01')" style="padding: 0.5px; margin: 1px"><button type="button" style="width: 100%" class="btn btn-outline-danger btn-sm">Remove</button></td>
                    </tr>
                </thead>
                <tbody id="quote_lines">
                    {% for body in bodies %}
                        <tr id="line_01">
                            <td style="text-align: right; padding: 0.5px; margin: 1px"><input name="line[]" class="line" style="width: 100%; text-align: center" type="text" value="{{ body['line_ref'] }}"></td>
                            <td id="item_01" style="padding: 0.5px; margin: 1px"><input name="item[]" class="item" oninput="getItem('item_01')" style="width: 100%;" type="text" value="{{ body['item_id'] }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="description[]" class="description" style="width: 100%;" type="text" readonly value="{{ body['item_desc'] }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="quantity[]" class="quantity" onchange="calculateTotal('line_01')" style="width: 100%;" type="text" value="{{ body['quantity'] }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="list_price[]" class="list_price" onchange="calculateNetPriceAndTotal('line_01')" style="width: 100%;" type="text" value="{{ '%.2f'|format(body['list_price']) }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="discount[]" class="discount" onchange="calculateNetPriceAndTotal('line_01')" style="width: 100%;" type="text" value="{{ '%.2f'|format(body['discounts']) }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="net_price[]" class="net_price" style="width: 100%;" type="text" value="{{ '%.2f'|format(body['list_price'] * (1 - body['discounts'])) }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="total[]" class="total" style="width: 100%;" type="text" disabled value="{{ '%.2f'|format(body['line_net_total']) }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="lead_time[]" class="lead_time" style="width: 100%;" type="text" value="{{ body['lead_time'] }}"></td>
                            <td style="padding: 0.5px; margin: 1px"><input name="status[]" input class="status" style="width: 100%;" type="text" value="{{ body['status'] }}" readonly></td>
                            <td onclick="removeLine('line_01')" style="padding: 0.5px; margin: 1px"><button type="button" style="width: 100%" class="btn btn-outline-danger btn-sm">Remove</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <button type="button" onclick="newLine()" class="btn btn-success btn-sm">New Line</button>
        </div>
        <div style="display: flex; justify-content: flex-end; gap: 10px; margin: 10px;">
            <label for="total_net_value">Total Net Value</label>
            <input type="text" name="total_net_value" id="total_net_value" disabled>
            <label for="tax_amount">Tax Amount</label>
            <input type="text" id="tax_amount" disabled>
            <label for="total_tax_included">Total Tax Included</label>
            <input type="text" name="total_tax_included" id="total_tax_included" disabled>
        </div>
        <div>
            <textarea hidden name="data" id="data" cols="30" rows="10"></textarea>
        </div>
        <div style="display: flex; justify-content: flex-end; margin: 10px;">
            <button class="btn btn-danger" type="submit">Register</button>
        </div>
    </form>
    <form method="get" action="/get_quotes_list" style="padding: 3px">
        <button class="btn btn-warning" type="submit">Back to Quotes</button>
    </form>
    <form method="get" action="/" style="padding: 3px">
        <button class="btn btn-secondary" type="submit">Home</button>
    </form>
    <script>
        // Corrects all id's and in-function line_references
        tbody = document.querySelector('tbody');
        rows = tbody.children;
        for (let i = 0; i < (rows.length) - 1; i++){
            index = i + 2;
            index = index.toString().padStart(2, "0");
            rowId = "line_" + index;
            rows[i+1].id = rowId;
            columns = rows[i+1].children;
            itemId = "item_" + index;
            columns[1].id = itemId;
            itemInput = columns[1].firstElementChild;
            onInputValue = "getItem('" + itemId + "')";
            itemInput.setAttribute('oninput', onInputValue);
            quantityInput = columns[3].firstElementChild;
            onChangeValue = "CalculateTotal('" + rowId + "')";
            quantityInput.setAttribute('onchange', onChangeValue);
            listPriceInput = columns[4].firstElementChild;
            onChangeValue = "CalculateNetPriceAndTotal('" + rowId + "')";
            listPriceInput.setAttribute('onchange', onChangeValue);
            discountInput = columns[5].firstElementChild;
            discountInput.setAttribute('onchange', onChangeValue);
            onClickValue = "removeLine('" + rowId + "')";
            columns[10].setAttribute('onclick', onClickValue);
        };

        // This section will update grand totals on page onload.
        let totals = document.getElementsByClassName('total');
        // Get the total net value
        let totalNetValue = 0;
        for(let i = 0; i < totals.length; i++){
            totalNetValue += parseFloat(totals[i].value);
        }
        // Get the total tax amount
        let taxAmount = Math.round(((totalNetValue * 0.18) + Number.EPSILON) * 100) / 100; // hard coded
        // Get the total tax included
        let totalTaxIncluded = totalNetValue + taxAmount;
        // Update all the values in the respective elements
        let totalNetValueElement = document.getElementById('total_net_value');
        totalNetValueElement.setAttribute('value', totalNetValue);
        let TaxAmountElement = document.getElementById('tax_amount');
        TaxAmountElement.setAttribute('value', taxAmount);
        let totalTaxIncludedElement = document.getElementById('total_tax_included');
        totalTaxIncludedElement.setAttribute('value', totalTaxIncluded);
    </script>
    <script src="static/source.js"></script>
{% endblock %}