{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="page-title">Home</div>
    <section class="index-main">
        <aside id="index-menu">
            <button id="settings" onclick="showOptions(this)" class="index-menu-button"><i class="fa-sharp fa-solid fa-gears"></i> &nbsp;Settings</button>
            <button id="data" onclick="showOptions(this)" class="index-menu-button"><i class="fa-solid fa-database"></i> &nbsp;&nbsp;Data</button>
            <button id="stock" onclick="showOptions(this)" class="index-menu-button"><i class="fa-solid fa-boxes-stacked"></i>&nbsp; Stock</button>
            <button id="quotes" onclick="showOptions(this)" class="index-menu-button"><i class="fa-solid fa-clipboard"></i>&nbsp;&nbsp; Quotes</button>
            <button id="sorders" onclick="showOptions(this)" class="index-menu-button"><i class="fa-solid fa-chart-line"></i>&nbsp;&nbsp;Sales Orders</button>
            <button id="deliveries" onclick="showOptions(this)" class="index-menu-button"><i class="fa-solid fa-truck"></i>&nbsp; Deliveries</button>
            <button id="invoices" onclick="showOptions(this)" class="index-menu-button"><i class="fa-solid fa-file-invoice-dollar"></i>&nbsp;&nbsp; Invoices</button>
        </aside>
        <article id="index-article">
                <div class="list" id="settings_options" hidden>
                    <a href="/logout" class="btn btn-dark btn-square-md">LOG OUT</a>
                    <a href="/change_password" class="btn btn-dark btn-square-md">CHANGE PASSWORD</a>
                </div>
                <div class="list" id="data_options" hidden>
                    <a href="/users" class="btn btn-dark btn-square-md">USERS</a>
                    <a href="/get_customers" class="btn btn-dark btn-square-md">CUSTOMERS</a>
                    <a href="get_item_categories" class="btn btn-dark btn-square-md">CATEGORIES</a>
                    <a href="/get_items" class="btn btn-dark btn-square-md">ITEMS</a>
                </div>
                <div class="list" id="stock_options" hidden>
                    <a href="/current_stock" class="btn btn-dark btn-square-md">CURRENT STOCK</a>
                    <a href="/stock_movement" class="btn btn-dark btn-square-md">STOCK MOVEMENTS</a>
                    <a href="/" class="btn btn-dark btn-square-md">STOCK ADJUSTMENT</a>
                </div>
                <div class="list" id="quotes_options" hidden>
                    <a href="/get_quotes_list" class="btn btn-dark btn-square-md">LIST OF QUOTES</a>
                    <a href="/create_quote" class="btn btn-dark btn-square-md"> CREATE QUOTE</a>
                </div>
                <div class="list" id="sorders_options" hidden>
                    <a href="/get_all_sorders" class="btn btn-dark btn-square-md">LIST OF SALES ORDERS</a>
                </div>
                <div class="list" id="deliveries_options" hidden>
                    <a href="/list_of_deliveries" class="btn btn-dark btn-square-md">LIST OF DELIVERIES</a>
                </div>
                <div class="list" id="invoices_options" hidden>
                    <a href="/get_all_invoices" class="btn btn-dark btn-square-md">LIST OF INVOICES</a>
                </div>
        </article>
        <script src="/static/source.js"></script>
    </section>
    
    
{% endblock %}