{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h3>CDM Homepage</h3>
    <p>Manage your Deals</p>
    <form method="get" action="/logout">
        <button type="submit">Log Out</button>
    </form>
    <form method="get" action="/change_password">
        <button type="submit">Change Password</button>
    </form>
    <form method="get" action="/users">
        <button type="submit">Users</button>
    </form>
    <form method="get" action="/customers">
        <button type="submit">Customers</button>
    </form>
    <form method="get" action="/get_item_categories">
        <button type="submit">Item categories</button>
    </form>
{% endblock %}