{% extends "layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <p>Item categories</p>
    <h4>{{ message }}</h4>
    <table>
        <thead>
            <tr>
                <th>Category_ID</th>
                <th>Description</th>
                <th>Created_by</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category["id"] }}</td>
                <td>{{ category["description"] }}</td>
                <td>{{ category["created_by"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/create_category">
        <button type="submit">Add Category</button>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
{% endblock %}