{% extends "layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <div class="h2" style="padding: 10px">Item categories</div>
    <h4>{{ message }}</h4>
    <table class="table" style="text-align: center; max-width: 600px">
        <thead class="table-light">
            <tr>
                <th>Category_ID</th>
                <th>Description</th>
                <th>Created_by</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category["id"] }}</td>
                <td>{{ category["description"] }}</td>
                <td>{{ category["created_by"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/create_category" style="padding: 10px;">
        <button class="btn btn-info" type="submit">Add Category</button>
    </form>
    <form method="get" action="/" style="padding-left: 10px; padding-top: 5px;">
        <button class="btn btn-secondary" type="submit">Home</button>
    </form>
{% endblock %}