{% extends "layout.html" %}

{% block title %}
    Items catalogue
{% endblock %}

{% block body %}
    <div class="h2" style="text-align: center; padding: 10px;">Items Catalogue</div>
    <h4>{{ message }}</h4>
    <table class="table" style="text-align: center">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Full Description</th>
                <th>UM</th>
                <th>Category</th>
                <th>Status</th>
                <th>Created by</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item["id"] }}</td>
                <td>{{ item["description"] }}</td>
                <td>{{ item["full_description"] }}</td>
                <td>{{ item["um"] }}</td>
                <td>{{ item["category_id"] }}</td>
                <td>{{ item["status"] }}</td>
                <td>{{ item["created_by"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/create_item">
        <button type="submit">New Item</button>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
{% endblock %}