{% extends "layout.html" %}

{% block title %}
    Deliveries
{% endblock %}

{% block body %}
    <p>List of Deliveries</p>
    <h4>{{ message }}</h4>
    <form action="/delivery_details" method="get">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Delivery ID</th>
                    <th>Customer ID</th>
                    <th>Company Name</th>
                    <th>Delivery Address</th>
                    <th>Created by</th>
                    <th>Status</th>
                    <th>Invoice Num.</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery in deliveries %}
                <tr>
                    <td>{{ delivery["date"] }}</td>
                    <td>{{ delivery["id"] }}</td>
                    <td>{{ delivery["customer_id"] }}</td>
                    <td>Company Name</td>
                    <td>{{ delivery["delivery_address"] }}</td>
                    <td>{{ delivery["created_by"] }}</td>
                    <td>{{ delivery["status"] }}</td>
                    <td>{{ delivery["invoice_num"] }}</td>
                    <td>    
                        <button name="delivery_id" value="{{ delivery['id'] }}" type="submit">Details</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <form method="get" action="/">
        <button type="submit">New Delivery</button>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
{% endblock %}