{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
<article class="login-body">
    <aside class="login-aside">
        <div>
            <h3>Welcome to CDM!</h3>
            <p>We manage your deals</p>
        </div> 
        <form class="login-form" action="/login" method="post">
            <div>
                <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
            </div>
            <div>
                <input id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="login-button" type="submit">Log In</button>
        </form>
    </aside>
</article>
{% endblock %}