{% extends "layout.html" %}

{% block title %}
    Quote Details
{% endblock %}


    
{% block body %}
<div id="title" class="h2 text-center">Quote Details</div>
<div style="text-align:center; color: red; border-style: solid; border-color: black; " class="h3">{{ message }}</div>
<form action="/edit_quote" method="get">
    <div>
        <label style="width: 110px;" for="creation_date">Creation Date:</label>
        <input id="creation_date" type="date" style="width: 110px;" value="{{ header[0]['date'] }}" disabled>
    </div>
    <div>
        <label style="width: 110px;" for="quote_id">Quote No:</label>
        <input type="text" name="quote_num" id="quote_num" placeholder="Quote No." style="width: 110px;" value="{{ header[0]['quote_num'] }}" readonly>
        <!-- Change the style to make :disabled and :readonly element look the same-->
    </div>
    <div class="flex-container" style="margin-bottom: 5px;">
        <label style="width: 110px;" for="customer_id">Customer ID:</label>
        <input type="text" id="customer_id" name="customer_id" placeholder="Customer No." style="width: 110px;" value="{{ header[0]['customer_id'] }}" disabled>
        <label style="width: 120px;" for="company_name">Company Name:</label>
        <input style="width: 200px;" type="text" id="company_name" name="company_name" placeholder="Company Name" value="{{ header[0]['company_name'] }}" disabled>
    </div>
    <!-- This one below is the div of the table-->
    <div>
        <table class="table" style="table-layout: fixed; width: 100%; margin-bottom: 5px;">
            <thead class="table-primary text-center" style="width: 100%">
                <tr style="width: 100%">
                    <td style="width: 3%">Line</td>
                    <td style="width: 7%">Item</td>
                    <td style="width: 36%">Description</td>
                    <td style="width: 5%">Q</td>
                    <td style="width: 7%">List Price</td>
                    <td style="width: 6%">Discount</td>
                    <td style="width: 7%">Net Price</td>
                    <td style="width: 9%">Total</td>
                    <td style="width: 7%">Lead Time</td>
                    <td style="width: 7%">Status</td>
                </tr>
            </thead>
            <tbody id="quote_lines">
                {% for body in bodies %}
                    <tr>
                        <td style="text-align: right; padding: 0.5px; margin: 1px"><input name="line[]" class="line" style="width: 100%; text-align: center" type="text" value="{{ body['line_ref'] }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="item[]" class="item" style="width: 100%;" type="text" value="{{ body['item_id'] }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="description[]" class="description" style="width: 100%;" type="text" value="{{ body['item_desc'] }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="quantity[]" class="quantity" style="width: 100%;" type="text" value="{{ body['quantity'] }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="list_price[]" class="list_price" style="width: 100%;" type="text" value="{{ '%.2f'|format(body['list_price']) }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="discount[]" class="discount" style="width: 100%;" type="text" value="{{ '%.2f'|format(body['discount']) }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="net_price[]" class="net_price" style="width: 100%;" type="text" disabled value="{{ '%.2f'|format(body['list_price'] * (1 - body['discount'])) }}"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="total[]" class="total" style="width: 100%;" type="text" disabled value="{{ '%.2f'|format(body['line_net_total']) }}"></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="lead_time[]" class="lead_time" style="width: 100%;" type="text" value="{{ body['lead_time'] }}" disabled></td>
                        <td style="padding: 0.5px; margin: 1px"><input name="status[]" input class="status" style="width: 100%;" type="text" value="{{ body['status'] }}" disabled></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="display: flex; justify-content: flex-end; gap: 10px; margin: 10px;">
        <label for="total_net_value">Total Net Value</label>
        <input type="text" name="total_net_value" id="total_net_value" value="{{ '%.2f'|format(header[0]['total_net_value']) }}" disabled>
        <label for="tax_amount">Tax Amount</label>
        <input type="text" id="tax_amount" value="{{ '%.2f'|format(header[0]['total_net_value'] * 0.18) }}" disabled>
        <label for="total_tax_included">Total Tax Included</label>
        <input type="text" name="total_tax_included" id="total_tax_included" value="{{ '%.2f'|format(header[0]['total_net_value'] + (header[0]['total_net_value'] * 0.18)) }}" disabled>
    </div>
    <div style="padding: 3px">
        <button class="btn btn-outline-danger" type="submit">Edit</button>
    </div>
</form>
<form method="get" action="/convert_quote_to_sorder" style="padding: 3px">
    <input type="text" name="quote_num" value="{{ header[0]['quote_num'] }}" hidden>
    <button class="btn btn-danger" type="submit">Convert</button>
</form>
<form method="get" action="/delete_quote" style="padding: 3px;">
    <input type="text" name="quote_num" value="{{ header[0]['quote_num'] }}" hidden>
    <button class="btn btn-dark" type="submit">Delete</button>
</form>
<form method="get" action="/get_quotes_list" style="padding: 3px">
    <button class="btn btn-warning" type="submit">Back to Quotes</button>
</form>
<form method="get" action="/" style="padding: 3px">
    <button class="btn btn-secondary" type="submit">Home</button>
</form>

<script src="static/source.js"></script>

{% endblock %}