{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block body %}
    <h2 class="page-title">Quotes</h2>
    <h4>{{ message }}</h4>
    <form action="/quote_details" method="get">
        <table class="table text-center">
            <thead class="table-light">
                <tr>
                    <th style="width: 10%">Quote_num</th>
                    <th style="width: 10%">Date</th>
                    <th style="width: 10%">Customer ID</th>
                    <th style="width: 25%">Company Name</th>
                    <th style="width: 15%">Total Net Value</th>
                    <th style="width: 20%">Status</th>
                    <th style="width: 10%">Created by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for quote in quotes %}
                <tr>
                    <td>{{ quote["quote_num"] }}</td>
                    <td>{{ quote["date"] }}</td>
                    <td>{{ quote["customer_id"] }}</td>
                    <td>{{ quote["company_name"]}}</td>
                    <td>{{ "%.2f"|format(quote["total_net_value"]) }}</td>
                    <td>{{ quote["status"]}}</td>
                    <td>{{ quote["created_by"] }}</td>
                    <td>    
                        <button class="btn btn-success" name="quote_num" value="{{ quote['quote_num'] }}" type="submit">Details</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <form method="get" action="/create_quote" style="padding: 2px">
        <button class="btn btn-info" type="submit">New Quote</button>
    </form>
    <form method="get" action="/" style="padding: 2px">
        <button class="btn btn-secondary" type="submit">Home</button>
    </form>
{% endblock %}