{% extends "layout.html" %}

{% block title %}
    Sales Orders
{% endblock %}

{% block body %}
    <h2 class="page-title">Sales Orders</h2>
    <h4>{{ message }}</h4>
    <form action="/sorder_details" method="get">
        <table class="table text-center">
            <thead class="table-light">
                <tr>
                    <th>Order_num</th>
                    <th>Date</th>
                    <th>Customer ID</th>
                    <th>Company Name</th>
                    <th>Total Net Value</th>
                    <th>Status</th>
                    <th>Created by</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sorder in sorders %}
                <tr>
                    <td>{{ sorder["order_num"] }}</td>
                    <td>{{ sorder["date"] }}</td>
                    <td>{{ sorder["customer_id"] }}</td>
                    <td>{{ sorder["company_name"] }}</td>
                    <td>{{ "%.2f"|format(sorder["total_net_value"]) }}</td>
                    <td>{{ sorder["status"] }}</td>
                    <td>{{ sorder["created_by"] }}</td>
                    <td>    
                        <button class="btn btn-success" name="sorder_num" value="{{ sorder['order_num'] }}" type="submit">Details</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <form method="get" action="/" style="padding: 3px;">
        <button type="submit">New Sale</button>
        <!-- Add class="btn btn-info" when route fully implemented-->
    </form>
    <form method="get" action="/" style="padding: 3px;">
        <button class="btn btn-secondary" type="submit">Home</button>
    </form>
{% endblock %}