{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block body %}
    <p>Users</p>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Profile</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user["username"] }}</td>
                <td>{{ user["profile"] }}</td>
                <td>{{ user["status"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/create_user">
        <button type="submit">Create User</button>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
{% endblock %}