{% extends "layout.html" %}

{% block title %}
    Users
{% endblock %}

{% block body %}
    <h2 style="text-align: left">Users</h2>
    <table class="table" style="text-align: center; max-width: 400px">
        <thead class="table-light">
            <tr>
                <th>Username</th>
                <th>Profile</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user["username"] }}</td>
                <td>{{ user["profile"] }}</td>
                <td>{{ user["status"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="get" action="/create_user">
        <button type="submit">Create User</button>
    </form>
    <form method="get" action="/">
        <button type="submit">Home</button>
    </form>
{% endblock %}